---
title: Welcome
---

# Downloading files is extremely simple!

Try out right now:
Simple start playback of this file to see how it works.
<video controls src="<%=@mnt_root%>/wake_up.mp3" class="media">
  <!-- <source src="cool_wave.mp3" type="audio/mpeg"> -->
  Your browser does not support the audio element.
</video>


<!-- <p>You can also download files within <a href="<%=@mnt_root%>/wake_up.mp3">direct links</a><br>or extract links on page using Magic Scan.</p> -->

You can find more tutorials and answers in our [FAQ section](faq/).

[Смореть на русском](<%=@mnt_root%>/ru/)