---
title: Welcome
---

# Скачивать файлы с нашим загрузчиком очень просто!

Попробуйте прямо сейчас:
Начните воспроизведение видео по ссылке ниже.

<video controls src="<%=@mnt_root%>/wake_up.mp3" class="media">
  <!-- <source src="cool_wave.mp3" type="audio/mpeg"> -->
  Your browser does not support the audio element.
</video>
<!-- 
<p>А еще Вы можете загружать файлы по <a href="<%=@mnt_root%>/wake_up.mp3">прямым ссылкам</a><br>и скачивать все треки со страницы за раз.</p> -->

Больше полезной информации Вы найдете [здесь](faq/).
