<% content_for :head do %>
  <%= stylesheet_link_tag 'mobile' %>
<% end %>

<div class="main-container">
	<div class="form-body">
		<div class="txt-cont">

            <h1>Basic</h1>

            <ul class="section">
            <!-- <li><a href="./how-to-download/">How to download music?</a></li>
            <li><a href="./page-scan/">How to download all files at once?</a></li>
            <li><a href="./youtube/">Why I can't download music from YouTube?</a></li> -->
            <li><a href="./player-gestures/">Player gestures!</a></li>
            </ul>
            
            <ul class="section">
            <li><a href="./no-answer/">I did not find an answer</a></li>
            </ul>

            <p>Other languages are coming soon.</p>
            <!-- <p>Please note that you are responsible for the files you download.</p> -->
		</div>

	</div>
</div>