<% content_for :head do %>
  <%= stylesheet_link_tag 'mobile' %>
<% end %>

<div class="main-container">
	<div class="form-body">
		<div class="txt-cont">

            <h1>Основное</h1>

            <ul class="section">
            <li><a href="./how-to-download/">Как скачивать музыку?</a></li>
            <li><a href="./page-scan/">Как скачать все песни со страницы?</a></li>
            </ul>

            <ul class="section">
            <li><a href="./no-answer/">Я не нашел ответа</a></li>
            </ul>

            <p><a href="<%=@mnt_root%>/en/faq">Смотреть на английском</a></p>

		</div>

	</div>
</div>