---
title: Welcome
---

# Информация

      <p>Обновление с многочисленными исправлениями скоро будет доступно!</p>
      <p>В том числе: корректная работа с групповыми чатами, индикатор онлайна, отключаемые пуш-нотификации и много чего еще.</p>
      <p>Пишите нам на почту <a href="mailto:vkmusicapp@gmail.com">vkmusicapp@gmail.com</a>. С радостью ответим на Ваши вопросы.</p>
      <hr>
      <p style="color:gray">Ответ от 6 июля</p>