<% content_for :head do %>
  <%= stylesheet_link_tag 'mobile' %>
<% end %>

<div class="main-container">
	<div class="form-body">
		<div class="txt-cont">

            <h1>Basic</h1>

            <ul class="section">
            <li><a href="./how-to-download">How to download music?</a></li>
            <li><a href="./page-scan">How to download all files at once?</a></li>
            </ul>

		</div>

	</div>
</div>