<% content_for :head do %>
  <%= stylesheet_link_tag 'mobile' %>
<% end %>

<div class="main-container">
	<div class="form-body">
		<div class="txt-cont">

            <h1>Основное</h1>

            <ul class="section">
            <li><a href="./how-to-download">Как скачивать музыку?</a></li>
            <li><a href="./page-scan">Как скачать все песни со страницы?</a></li>
            </ul>

		</div>

	</div>
</div>